input {
    font-size: 12px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

input[type="text"]:focus {
    outline:none;
    border: inset 2px;
}
.sum-wrapper{
    width: 210px;
    height: auto;
}
.price-add{
    margin-left: 50px;
    margin-right: 0;
}
.sum{
    position: absolute;
    width: 150px;
    height: 25px;
    margin-top: 10px;
}
.prices-list{
    margin-bottom: 0;
    margin-top: 30px;
}
.price-element{
    height: 30px;
    list-style-type: none;
    width: 250px;
}
.price-input{
    outline:none;
    border: none;
}

.price-input:focus{
    border: 2px inset #EBE9ED;;
}
.price-element-ok:hover > .price-label-ok{
    background-color: #BFDFF3;
}
.price-element-ok:hover > .price-remove{
    background-color: #BFDFF3;
}
.price-input:focus > .price-input{
    background-color: white;
}

.price-element-ok:hover > .price-remove{
    display:inline-block;
}
.price-remove{
    color: #203695;
    display: none;
    position: absolute;
    left: 162px;
    height: 30px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    width: 65px;
}
.price-remove-label{
    padding-top: 7px;
    display: inline-block;
    height: 15px;
    border-bottom: 1px dashed #203695;
}

.price-element-editing > .price-save{
    display:inline;
}
.price-save{
    margin-left: 15px;
    margin-top: 5px;
    display:none;
    position: absolute;
    left: 162px;
}

.block{
    display: block;
}
.right{
    float: right;
}

.price-label-editing{
    display: none;
}
.price-label-ok{
    position: absolute;
    left:50px;
    width: 100px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 10px;
    padding-bottom: 2px;
    cursor: pointer;
    height: 18px;
}

.price-text-ok{
    display: none;
}

.price-text-editing{
    position: absolute;
    box-shadow:none;
    left:50px;
    width: 100px;
    padding: 4px;
    text-align:right;
    z-index: 0;
}

.sum-total-normal{
    position: absolute;
    left:40px;
    width: 110px;
    padding: 6px;
}

.sum-total-extended{
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left:40px;
    border: 1px solid #000000;
    padding: 5px;
    width: 110px;
}
