<!Doctype html>
<html lang="en" ng-app="skbApp">
<head>
  <meta charset="utf-8">
  <title>Scaling adventure skb</title>
  <link rel="stylesheet" href="css/style.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="js/app.js"></script>

</head>
<body>

<div ng-controller="SumController" class="sum-wrapper">
  <input class="block" type="button" value="Добавить строчку" ng-click="addString()">
  <span class="sum"><b class="right">Сумма, р.</b></span>

  <ul class="prices-list block">
    <li class="price-element price-element-{{price.status}}" ng-repeat="price in prices">
     <span class="price-label-{{price.status}} " ng-click="setEditingStatus($index)">
       <span class="right">{{separatePrice(price.price)}}</span>
     </span>
     <span class="price-remove" ng-click="removeString($index)" >
       <span class="price-remove-label">Удалить</span>
     </span>

      <input type='text' class="price-text-{{price.status}}" ng-model="price.price" app-type="number" placeholder="Enter a value" ng-blur="setOkStatus($index)" ng-click="setEditingStatus($index)" maxlength="10" focus-me="shouldBeOpen" required>
      <input type="button" class="price-save" ng-click="setOkStatus($index" value="Сохранить">
    </li>
  </ul>

    <span class="sum-total-normal" ng-show="!extend">
      Итого: <b class="right">{{separatePrice(totalSum())}}</b>
    </span>

    <span class="sum-total-extended" ng-show="extend">
      Итого: <b class="right">{{separatePrice(totalSum())}}</b>
    </span>
</div>

</body>
</html>
